@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Hammersmith+One&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(box.css);
@import url(footer.css);
@import url(hero.css);
@import url(navbar.css);
@import url(shading.css);
@import url(styles.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* ========================= Cores e configurações width*/
    --light-cor-primaria: #c299ff;
    --light-cor-secundaria: #ad33ff;

    --dark-cor-primaria: #5c0099;
    --dark-cor-secundaria: #b300b3;
    --dark-cor-terciaria: #660066;

    --danger-color: #bf4080;
    --sucess-color: #f2d9e5;

    /*big-desktop-width: 1536px; /*min*/
    /*desktop-width: 1280px; /*min*/
    /*laptop-width: 1024px; /*min*/
    /*small-devices-width: 768px; /*min*/
    /*very-small-devices-width: 480px; /*min*/
}


html, body {
    display: block;
    background-color: var(--dark-cor-primaria);
}

html {
    font-size: clamp(14px, 1.2vw, 26px); /* Vai fazer um cálculo entre a sua viewport total e a porcentagem que você passou dela. ali no caso a fonte vai ser 2.2% o valor da sua viewport. Caso o valor estrapole ou fique abaixo do mínimo, vai usar um dos dois valores dos lados pra substituir*/
}
