.parallax-container {  /* ============================================ Parallax */
    display: flex;
    position: relative;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 21.30rem;

    overflow:hidden;
}


.parallax-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../Assets/parallaximg.png");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: -1rem;
    background-position-x: center;

    filter:brightness(0.7) blur(0.1rem);

    width: 100%;
    height: 100%;
}

.parallax-container h1 {
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;

    user-select: none;
}
